/gradlew
/.gradle/
/gradle/
/.idea/
/build/
/manual-run-results/
/src/test/resources/highperformancespark/ch4joins/addresses_70mb.csv
/src/test/resources/highperformancespark/ch4joins/scores_300mb.csv
